@use 'vars';

footer{
    background-image: url(../images/fundo.png);
    text-align: center;
    padding: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .container{
        position: relative;
    }

    &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: rgba(0 , 0, 0, .3);
        background-color: vars.$textColordark;
        opacity: .7;
    }
}

